
/*
     FILE ARCHIVED ON 14:19:30 Sep 07, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:05:01 Dec 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 3.312
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  esindex: 0.01
  cdx.remote: 11.851
  LoadShardBlock: 130.347 (3)
  PetaboxLoader3.datanode: 186.721 (4)
  load_resource: 131.337
  PetaboxLoader3.resolve: 63.367
*/