	<div id="comments">

					
		<div id="comments-title"><h3>14 Comments</h3><span><a href="#respond">Leave A Reply</a></span></div>
		
		<ol id="commentlist">
			
<li class="comment byuser comment-author-jerrythehero123 even thread-even depth-1" id="li-comment-1045">

	<div id="comment-1045" class="comment-container">
	
		<div class="comment-avatar">
			<img alt="Jerrythehero123" src="images/gravatar.gif" class="avatar avatar-60 photo" height="60" width="60"/>			<span class="post-author">Reviewer</span>
		</div>
		
		<div class="comment-arrow"></div>
		
		<div class="comment-body">
		
			<div class="comment-author">
				
				Someone says				
			</div>
			
			<div class="comment-date">
				17/08/2013, 16:07			</div>
									
							
			<div class="comment-text">

				<p> <img src="images/icon_razz.gif" alt=":P" class="wp-smiley"/> </p>
														
							
				<span>
					 				</span>
			</div>
			
		</div>
		
	</div>


</li>

<li class="comment byuser comment-author-jacobpacer odd alt thread-odd thread-alt depth-1" id="li-comment-53">

	<div id="comment-53" class="comment-container">
	
		<div class="comment-avatar">
			<img alt="" src="images/gravatar.gif" class="avatar avatar-60 photo avatar-default" height="60" width="60"/>			<span class="post-author">Reviewer</span>
		</div>
		
		<div class="comment-arrow"></div>
		
		<div class="comment-body">
		
			<div class="comment-author">
				
				<a href="" rel="external nofollow" class="url">Someone</a> says				
			</div>
			
			<div class="comment-date">
				18/05/2013, 13:29			</div>
									
							
			<div class="comment-text">

				<p>yay!!!</p>
														
							
				<span>
					 				</span>
			</div>
			
		</div>
		
	</div>


</li>

<li class="comment byuser comment-author-jacobpacer even thread-even depth-1" id="li-comment-52">

	<div id="comment-52" class="comment-container">
	
		<div class="comment-avatar">
			<img alt="" src="images/gravatar.gif" class="avatar avatar-60 photo avatar-default" height="60" width="60"/>			<span class="post-author">Reviewer</span>
		</div>
		
		<div class="comment-arrow"></div>
		
		<div class="comment-body">
		
			<div class="comment-author">
				
				<a href="" rel="external nofollow" class="url">Someone</a> says				
			</div>
			
			<div class="comment-date">
				18/05/2013, 13:29			</div>
									
							
			<div class="comment-text">

				<p>oh and one more thing this game is bug free <img src="images/icon_biggrin.gif" alt=":D" class="wp-smiley"/> </p>
														
							
				<span>
					 				</span>
			</div>
			
		</div>
		
	</div>


</li>
		</ol>
							
					<div class="wp-pagenavi comment-navi"><a class="prev page-numbers" href="">&laquo; Previous</a>
<a class="page-numbers" href="">1</a>
<span class="page-numbers current">2</span></div>
			

				
			<strong>Comments are now closed.</strong>
	
				
		
		
	

	</div>
