<meta charset="UTF-8" />
<title>{{ site.title }}</title>

<link rel="stylesheet" href="css/twitterbadge.css" media="all" />
<link rel="stylesheet" href="css/bp.css" media="screen" />
<link rel="stylesheet" href="css/bbpress.css" media="screen" />
<link rel="stylesheet" href="css/reset.css" media="all" />
<link rel="stylesheet" href="css/style.css" media="all" />
<link rel="stylesheet" href="css/style-dark.css" media="all" />
<link rel="stylesheet" href="css/front.end.css" media="all" />

<link rel="icon" type="image/x-icon" href="images/favicon.ico" />

<style>a {
color: #fd8311;
}

a:hover {
color: #FFFFFF;
}

#nav ul a:hover {
color: #FFFFFF;
}

#nav ul a {
color: #fd8311;
}

#nav ul .current-menu-item > a {
color: #FFFFFF;
}

.review-box-text a:hover {
color: #FFFFFF;
}

.review-box-text a {
font-weight: bold;
color:  #fd8311;
}

#footer a:hover {
color: #FFFFFF;
}

#footer a {
color: #fd8311;
}

#content .bbp-breadcrumb a {
color: #fd8311;
}

.widget a {
color: #fd8311;
}

.widget a:hover {
color: #FFFFFF;
}

.recaptchatable #recaptcha_response_field {
color: #FFFFFF;
font-size: 11pt !important;
}

.button.submit {
font-size: 12px;
}

#breadcrumbs a {
color: #FFD7B1;
}

a.bbp-forum-title {
font-size: 10pt !important;
}

div.bbp-forum-content {
font-size: 10pt !important;
}

div.bbp-breadcrumb {
font-size: 10pt !important;
}

a.bbp-breadcrumb-home {
font-size: 10pt !important;
}

a.bbp-breadcrumb-root {
font-size: 10pt !important;
}

.skin-dark #content .bbp-topics ul.sticky {
background-color: rgb(53, 30, 0) !important;
}

a.bbp-topic-permalink {
font-size: 10pt !important;
}

a.page-numbers {
font-size: 10pt !important;
}

#yop-poll-container-7 {
width: 246px !important;
background: rgba(85, 85, 85, 0) !important;
}

#yop-poll-answers-7 ul li label {
margin-left: 8px !important;
}

input[type="radio"] {
margin-left: 10px !important;
}
</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #000000; background-image: url('images/Robocraft_Website_Header_019.jpg'); background-repeat: no-repeat; background-position: top center; background-attachment: fixed; }
</style>
